openapi: 3.0.3
info:
  title: Ali Tours & Travels API
  description: |
    Comprehensive API for managing tour packages, bookings, customers, and travel services.
    
    ## Authentication
    This API uses Bearer token authentication. Include your token in the Authorization header:
    ```
    Authorization: Bearer <your-jwt-token>
    ```
    
    ## Rate Limiting
    - Public endpoints: 100 requests/hour
    - Authenticated users: 1000 requests/hour  
    - Admin users: 5000 requests/hour
    
  version: 1.0.0
  contact:
    name: Ali Tours & Travels API Support
    email: dev@alitourstravels.in
    url: https://alitourstravels.in/contact
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.alitourstravels.in/v1
    description: Production server
  - url: https://api-staging.alitourstravels.in/v1
    description: Staging server
  - url: http://localhost:3000/api/v1
    description: Development server

security:
  - BearerAuth: []

paths:
  # Authentication
  /auth/login:
    post:
      tags:
        - Authentication
      summary: User login
      description: Authenticate user with email and password
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                  format: email
                  example: user@example.com
                password:
                  type: string
                  minLength: 6
                  example: password123
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      token:
                        type: string
                        example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
                      user:
                        $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'

  /auth/register:
    post:
      tags:
        - Authentication
      summary: User registration
      description: Register a new user account
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - email
                - password
                - phone
              properties:
                name:
                  type: string
                  minLength: 2
                  maxLength: 50
                  example: John Doe
                email:
                  type: string
                  format: email
                  example: user@example.com
                password:
                  type: string
                  minLength: 8
                  example: password123
                phone:
                  type: string
                  pattern: '^[+]?[0-9\s-()]+$'
                  example: +91 9876543210
                address:
                  type: string
                  example: 123 Main Street, City
      responses:
        '201':
          description: Registration successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      token:
                        type: string
                      user:
                        $ref: '#/components/schemas/User'
        '409':
          description: Email already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # Packages
  /packages:
    get:
      tags:
        - Packages
      summary: Get all packages
      description: Retrieve tour packages with filtering and pagination
      security: []
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
        - name: search
          in: query
          schema:
            type: string
          description: Search in name, destination, description
        - name: destination
          in: query
          schema:
            type: string
          description: Filter by destination
        - name: duration
          in: query
          schema:
            type: string
            enum: [1-3, 4-7, 8+]
          description: Filter by duration range
        - name: minPrice
          in: query
          schema:
            type: number
        - name: maxPrice
          in: query
          schema:
            type: number
      responses:
        '200':
          description: Packages retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      packages:
                        type: array
                        items:
                          $ref: '#/components/schemas/Package'
                      pagination:
                        $ref: '#/components/schemas/Pagination'

    post:
      tags:
        - Packages
      summary: Create package (Admin only)
      description: Create a new tour package
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePackageRequest'
      responses:
        '201':
          description: Package created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: '#/components/schemas/Package'
        '403':
          $ref: '#/components/responses/Forbidden'

  /packages/{id}:
    get:
      tags:
        - Packages
      summary: Get package by ID
      description: Retrieve detailed information about a specific package
      security: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: shimla-explorer
      responses:
        '200':
          description: Package details retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: '#/components/schemas/PackageDetails'
        '404':
          $ref: '#/components/responses/NotFound'

  # Bookings
  /bookings:
    get:
      tags:
        - Bookings
      summary: Get user bookings
      description: Retrieve bookings for the authenticated user
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, confirmed, cancelled]
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 10
      responses:
        '200':
          description: Bookings retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      bookings:
                        type: array
                        items:
                          $ref: '#/components/schemas/Booking'
                      pagination:
                        $ref: '#/components/schemas/Pagination'

    post:
      tags:
        - Bookings
      summary: Create booking
      description: Create a new tour package booking
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBookingRequest'
      responses:
        '201':
          description: Booking created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    $ref: '#/components/schemas/Booking'
        '409':
          description: Package unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    User:
      type: object
      properties:
        id:
          type: string
          example: user_123
        name:
          type: string
          example: John Doe
        email:
          type: string
          format: email
          example: user@example.com
        role:
          type: string
          enum: [user, admin]
          example: user
        phone:
          type: string
          example: +91 9876543210
        createdAt:
          type: string
          format: date-time

    Package:
      type: object
      properties:
        id:
          type: string
          example: shimla-explorer
        name:
          type: string
          example: Shimla Winter Wonderland
        destination:
          type: string
          example: Shimla, Himachal Pradesh
        description:
          type: string
        duration:
          type: integer
          example: 5
        price:
          type: number
          example: 24999
        originalPrice:
          type: number
          example: 29999
        discount:
          type: integer
          example: 17
        maxGuests:
          type: integer
          example: 12
        rating:
          type: number
          format: float
          example: 4.8
        reviews:
          type: integer
          example: 89
        image:
          type: string
          format: uri
        highlights:
          type: array
          items:
            type: string
        includes:
          type: array
          items:
            type: string
        excludes:
          type: array
          items:
            type: string

    PackageDetails:
      allOf:
        - $ref: '#/components/schemas/Package'
        - type: object
          properties:
            gallery:
              type: array
              items:
                type: string
                format: uri
            itinerary:
              type: array
              items:
                $ref: '#/components/schemas/ItineraryDay'
            accommodation:
              type: array
              items:
                $ref: '#/components/schemas/Accommodation'

    ItineraryDay:
      type: object
      properties:
        title:
          type: string
          example: Arrival in Shimla
        description:
          type: string
        activities:
          type: array
          items:
            type: string
        meals:
          type: string
          example: Breakfast, Dinner
        accommodation:
          type: string
          example: Hotel Willow Banks
        image:
          type: string
          format: uri
        notes:
          type: string

    Accommodation:
      type: object
      properties:
        name:
          type: string
          example: Hotel Willow Banks
        description:
          type: string
        amenities:
          type: array
          items:
            type: string
        images:
          type: array
          items:
            type: string
            format: uri

    Booking:
      type: object
      properties:
        id:
          type: string
          example: BK1001
        packageId:
          type: string
          example: shimla-explorer
        packageName:
          type: string
          example: Shimla Winter Wonderland
        userId:
          type: string
          example: user_123
        userName:
          type: string
          example: John Doe
        email:
          type: string
          format: email
        phone:
          type: string
        travelDate:
          type: string
          format: date-time
        guests:
          type: integer
          example: 2
        totalPrice:
          type: number
          example: 49998
        status:
          type: string
          enum: [pending, confirmed, cancelled]
        specialRequests:
          type: string
        createdAt:
          type: string
          format: date-time

    CreatePackageRequest:
      type: object
      required:
        - name
        - destination
        - description
        - duration
        - price
        - maxGuests
        - image
        - highlights
        - includes
        - excludes
      properties:
        name:
          type: string
          minLength: 3
          maxLength: 100
        destination:
          type: string
          minLength: 3
          maxLength: 100
        description:
          type: string
          minLength: 50
          maxLength: 2000
        duration:
          type: integer
          minimum: 1
          maximum: 30
        price:
          type: number
          minimum: 0
        originalPrice:
          type: number
          minimum: 0
        maxGuests:
          type: integer
          minimum: 1
          maximum: 50
        image:
          type: string
          format: uri
        gallery:
          type: array
          items:
            type: string
            format: uri
        highlights:
          type: array
          minItems: 1
          maxItems: 10
          items:
            type: string
            minLength: 10
            maxLength: 200
        includes:
          type: array
          minItems: 1
          maxItems: 20
          items:
            type: string
            minLength: 10
            maxLength: 200
        excludes:
          type: array
          minItems: 1
          maxItems: 20
          items:
            type: string
            minLength: 10
            maxLength: 200

    CreateBookingRequest:
      type: object
      required:
        - packageId
        - travelDate
        - guests
        - contactInfo
        - passengers
      properties:
        packageId:
          type: string
          example: shimla-explorer
        travelDate:
          type: string
          format: date
          example: "2024-06-15"
        guests:
          type: integer
          minimum: 1
          example: 2
        specialRequests:
          type: string
          maxLength: 500
        contactInfo:
          type: object
          required:
            - name
            - email
            - phone
          properties:
            name:
              type: string
              example: John Doe
            email:
              type: string
              format: email
            phone:
              type: string
        passengers:
          type: array
          items:
            $ref: '#/components/schemas/Passenger'

    Passenger:
      type: object
      required:
        - name
        - age
        - gender
        - idType
        - idNumber
      properties:
        name:
          type: string
          minLength: 2
          maxLength: 50
        age:
          type: integer
          minimum: 0
          maximum: 120
        gender:
          type: string
          enum: [male, female, other]
        idType:
          type: string
          enum: [passport, aadhar, pan]
        idNumber:
          type: string

    Pagination:
      type: object
      properties:
        page:
          type: integer
          example: 1
        limit:
          type: integer
          example: 10
        total:
          type: integer
          example: 100
        totalPages:
          type: integer
          example: 10
        hasNext:
          type: boolean
          example: true
        hasPrev:
          type: boolean
          example: false

    Error:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: object
          properties:
            code:
              type: string
              example: VALIDATION_ERROR
            message:
              type: string
              example: Invalid input data
            details:
              type: object
              additionalProperties: true

  responses:
    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            type: object
            properties:
              success:
                type: boolean
                example: false
              error:
                type: object
                properties:
                  code:
                    type: string
                    example: UNAUTHORIZED
                  message:
                    type: string
                    example: Authentication required

    Forbidden:
      description: Insufficient permissions
      content:
        application/json:
          schema:
            type: object
            properties:
              success:
                type: boolean
                example: false
              error:
                type: object
                properties:
                  code:
                    type: string
                    example: FORBIDDEN
                  message:
                    type: string
                    example: Insufficient permissions

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            type: object
            properties:
              success:
                type: boolean
                example: false
              error:
                type: object
                properties:
                  code:
                    type: string
                    example: NOT_FOUND
                  message:
                    type: string
                    example: Resource not found

    RateLimitExceeded:
      description: Rate limit exceeded
      content:
        application/json:
          schema:
            type: object
            properties:
              success:
                type: boolean
                example: false
              error:
                type: object
                properties:
                  code:
                    type: string
                    example: RATE_LIMIT_EXCEEDED
                  message:
                    type: string
                    example: Too many requests

tags:
  - name: Authentication
    description: User authentication and authorization
  - name: Packages
    description: Tour package management
  - name: Bookings
    description: Booking management
  - name: Customers
    description: Customer management (Admin only)
  - name: Quotations
    description: Quotation management (Admin only)
  - name: Invoices
    description: Invoice management
  - name: Reviews
    description: Customer reviews
  - name: Slideshow
    description: Homepage slideshow management